/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-text: var(--color-white);
  --color-background: #0B192C;
  --color-primary: #FF6500;
  --color-secondary: #1E3E62;

  font-size: 14px;
}

@media (min-width: 768px) {
  :root {
    font-size: 16px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}